body {
	background-image: url("https://i.ytimg.com/vi/YDfs-66ib0g/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
	height: auto;
	width: 100%;
}

.jumbotron {
    opacity: 1;

}

.panel {
    opacity: 1;
    background-color: white;
    color: black;
    width: 100%;
    height: auto;
}

.panel > .panel-heading {
    background-color: black;
    color: white;
}

#addTrainBtn {
    background-color: black;
    color: white;
    border: none;
}